SWAP/django_swap/accounts/__pycache__/
SWAP/django_swap/accounts/migrations/
Deployment/beanstalk/.terraform/
Deployment/beanstalk/.terraform.lock.hcl
Deployment/beanstalk/terraform.tfstate
Deployment/beanstalk/terraform.tfstate.backup
Deployment/.platform/ssh/id_rsa.pub
Deployment/beanstalk/*.zip