SWAP/django_swap/accounts/__pycache__/
SWAP/django_swap/accounts/migrations/
Deployment/EBS/.terraform/
Deployment/EBS/.terraform.lock.hcl
Deployment/EBS/terraform.tfstate
Deployment/EBS/terraform.tfstate.backup
Deployment/EBS/.platform/ssh/*
Deployment/EBS/*.zip